<div>
    <h1>Results</h1>
    <div class="row">
        <div class="col-md-6">
            <table class="table" id="results-table">
                <thead>
                <tr>
                    <th>Colour</th>
                    <th>Votes</th>
                </tr>
                </thead>
                <tbody>
                @if(Model.Any()) foreach (var count in Model)
                {
                    <tr>
                        <td>@count.Name</td>
                        <td>@count.Count</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ColourVotes[] Model { get; set; }
}
