<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="voting-app.Web.styles.css" />
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <div class="page">
        <main>
            <div class="top-row px-4">
                <h1>Voting App Example</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="cards-container mt-3" hx-trigger="load" hx-get="/colours"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="results-container mt-3" hx-trigger="load, every 1s" hx-get="/results"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>
